* {
    margin: 0;
    padding: 0;
}

body {
    font-family: raleway;
}

.col-12 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-9 {
    width: 80%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header {
    height: 74px;
    display: flex;
    align-items: center;
    /* position: sticky; */
    top: 0;
    background-color: white;
    z-index: 2;
}

.logo {
    font-size: 24px;
    line-height: 74px;
    color: #666666;
    padding: 0 20px;
}

.menu ul li {
    list-style-type: none;
    float: left;
}

.menu ul li a {
    text-decoration: none;
    padding: 15px;
    line-height: 74px;
    color: #666666;
    font-weight: 400;
}

.menu ul li a:hover {
    color: #745cf9;
}

.jumbotron {
    background-image: url(images/bg.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-text-area {
    text-align: center;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* top: 50%;
    transform: translate(0, -50%); */
}

.jumbotron-text-area h1 {
    font-size: 60px;
    margin-bottom: 24px;
}

.jumbotron-text-area p {
    font-size: 14px;
    margin-bottom: 44px;
}

.button {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 200px;
    height: 54px;
    line-height: 54px;
    text-align: center;
}

.color {
    /* padding: 20px 65px; */
    background-color: #745cf9;
    margin-right: 8px;
    transition: 0.5s;
}

.color:hover {
    opacity: 0.8;
}

.white {
    /* padding: 18px 45.5px; */
    border: 2px solid white;
    margin-right: 8px;
    transition: 0.5s;
    background-color: none;
    box-sizing: border-box;
}

.white:hover {
    background-color: white;
    color: #666666;
}

.sf-area {
    display: flex;
    flex-wrap: wrap;
    padding: 96px;
}

.col-6 {
    width: 60%;
}

.col-4 {
    width: 40%;
}

.sf-text {
    padding: 96px 0;
    box-sizing: border-box;
    padding-left: 97.5px;
    letter-spacing: 1px;
}

.sf-text h1 {
    font-size: 30px;
    margin-bottom: 24px;
    color: #666666;
}

.sf-text p {
    font-size: 14px;
    margin-bottom: 48px;
    color: #666666;
    line-height: 24px;
}

.ps-text {
    padding: 96px 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.ps-text h1 {
    font-size: 30px;
    margin-bottom: 24px;
    color: #666666;
}

.ps-text p {
    font-size: 14px;
    margin-bottom: 48px;
    color: #666666;
    line-height: 24px;
}

.ps {
    background-color: #F5F5F5;
}

.sps {
    /* height: 438px; */
    background-image: url(images/bg-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 96px 0;
    box-sizing: border-box;
}

.sps-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: white;
}

.sps-area h1 {
    font-size: 60px;
    margin-bottom: 24px;
}

.sps-area p {
    font-size: 14px;
    margin-bottom: 44px;
    text-align: center;
    line-height: 24px;
}

.lo-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 96px 0 0;
}

.lo-area h1 {
    color: #0e1015;
    font-size: 30px;
    margin-bottom: 24px;
}

.lo-area p {
    font-size: 14px;
    margin-bottom: 44px;
    text-align: center;
    line-height: 24px;
}

.lo-area img {
    margin-top: 24px;
}

.olp {
    background-color: #0e1015;
}

.olp-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 96px 0 0;
}

.olp-area h1 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 24px;
}

.olp-area p {
    font-size: 14px;
    margin-bottom: 44px;
    text-align: center;
    line-height: 24px;
    color: #ffffff;
}

.col-3 {
    width: 25%;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.project {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* text-align: center; */
    line-height: 300px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    visibility: hidden;
    transition: 0.2s cubic-bezier(1, .09, .83, .67);
}

.layer h3 {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.project:hover .layer {
    visibility: visible;
}

.project:hover h3 {
    top: 0px;
}

.wocs {
    /* height: 472px; */
    background-image: url(images/bg-4.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.wocs-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
}

.wocs-area h1 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 24px;
    line-height: 24px;
}

.wocs-area p {
    font-size: 14px;
    margin-bottom: 44px;
    text-align: center;
    line-height: 24px;
    color: #ffffff;
    line-height: 24px;
}

.client {
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.client img {
    border-radius: 50%;
}

.client-name {
    font-size: 20px;
    font-weight: 400;
    font-family: bold;
    color: white;
    text-align: center;
    line-height: 24px;
    padding: 18px 0 0;
}

.omc {
    padding: 96px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.omc h1 {
    color: #666666;
    font-size: 30px;
    margin-bottom: 96px;
}

.client-box {
    display: flex;
    justify-content: space-evenly;
}

.client-box img {
    width: 60px;
    height: 60px;
}

footer {
    background-color: #0e1015;
    padding: 72px 0;
    position: relative;
}

.footer-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyrights {
    font-size: 14px;
    color: white;
}

.social-media a {
    text-decoration: none;
    color: white;
}

.social-media a i {
    font-size: 18px;
    padding: 10px;
}

.social-media a:hover {
    color: #745cf9;
}

.angle {
    position: absolute;
    color: white;
    right: 24px;
    bottom: 24px;
    width: 36px;
    height: 36px;
    border: 2px solid #666666;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}

.angle a {
    text-decoration: none;
    color: #666666;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .header {
        position: relative;
    }
    .menu {
        display: none;
    }
    .sf-area {
        width: 100%;
        align-items: center;
    }
    .sf-area img {
        width: 100%;
        height: auto;
    }
    .sf-image {
        width: 50%;
    }
    .sf-text {
        width: 50%;
    }
    .ps-text {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .col-9 {
        width: 95%;
    }
    .menu {
        display: none;
    }
    .jumbotron-text-area h1 {
        font-size: 30px;
    }
    .jumbotron-text-area a {
        margin-top: 10px;
    }
    .sf-image {
        width: 100%;
    }
    .ps-text {
        width: 100%;
    }
    .sf-text {
        width: 100%;
    }
    .sf-area {
        padding: 0 15px;
    }
    .sf-text {
        padding-left: 0px;
    }
    .ps-text {
        padding-right: 0;
    }
    .sps-area {
        width: 100%;
    }
    .sps-area h1 {
        font-size: 30px;
        font-weight: 200;
    }
    .sps-area p {
        text-align: justify;
        padding: 4px;
    }
    .lo-area {
        width: 100%;
    }
    .project {
        width: 100%;
    }
    .layer {
        visibility: visible;
    }
    .project h3 {
        top: 0;
        font-size: 18px;
    }
    .wocs-area {
        width: 95%;
    }
    .wocs-area h1 {
        font-size: 25px;
        font-weight: 100;
    }
    .button-area {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}